.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; /* Para as peças futuramente */
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}